
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

/* CUSTOM CHANGES */

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) {
.brand {font-size: .6rem; }
.carousel-indicators button.indic{width: .5rem; height: .5rem;} 
.mentions,.CGV {font-size: .5rem;}
}
@media (min-width: 576px) { 
  .grid-sizer{width:100% !important}
.brand {font-size: .6rem; }
.carousel-indicators button.indic{width: .5rem; height: .5rem;}
.mentions,.CGV {font-size: .5rem;}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {.grid-sizer{width:25% !important} 
.brand {font-size: .975rem; }
.nava {font-size: 1.1rem; }
.carousel-indicators button.indic{width: .5rem; height: .5rem;}
.mentions,.CGV {font-size: .5rem;}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { .grid-sizer{width:25% !important} 
.brand {font-size: 1.1rem; }
.nava {font-size: 1.15rem; } 
.carousel-indicators button.indic{width: .5rem; height: .5rem;}
.mentions,.CGV {font-size: .5rem;}
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {.grid-sizer{width:25% !important} 
.brand {font-size: 1.35rem; }
.nava {font-size: 1.15rem; }
.carousel-indicators button.indic{width: .7rem; height: .7rem;}
.mentions,.CGV {font-size: .7rem;}
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {.grid-sizer{width: 25% !important} }

/* Hide scrollbar for Chrome, Safari and Opera */
html {
  background-color: rgb(30, 30, 30);
}
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  @font-face {
    font-family: 'Rock Salt';
    src: url(../assets/fonts/RockSalt-Regular.woff2);
 }
 textarea {
  height: 100px;
}
.images {
    opacity: 1;
  }
  button:hover {
    background-color: rgb(60, 60, 60);
  }  
  i:hover {
    opacity: .9;
  }
  i.bi-images:hover, i.bi-eye:hover {
    opacity: 1;
  }
  svg:hover {
    opacity: .9;
  }
  .images:hover {
    opacity: .9;
    transition: opacity .3s;
  }
 :focus,:active,:visited {
    outline: none !important;
    box-shadow:none !important;
    -webkit-box-shadow: none !important; 
 }
 .menuL {
  font-family: 'Rock Salt';
  filter: drop-shadow(1px 1px 1px black);
}
.menuD {
  font-family: 'Rock Salt';
  padding-top: .7rem;
}
.cite {
  color: black;
}
.blockquote {
  font-size: 13px;
}
 .mentions,.CGV {
  text-decoration: none;
  color: white;
  opacity: 1;
  font-family: 'Rock Salt';
}
.mentions:hover, .CGV:hover {
  opacity: .9;
  color: white;
}
.courrier {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  color: rgb(45, 45, 45);
}
a[href^="mailto:"]
{ 
  color: rgb(45, 45, 45);
}
.btn-dark{
  background-color: rgb(60, 60, 60);
}

.card {
  background-color: white;
}

svg,.bi-globe,.bi-display,.bi-camera,.bi-list {
   color: white;
   filter: drop-shadow(1px 1px 1px black);
  }
 .bi-send,.bi-pencil,.bi-telephone,.bi-card-text {
  color: rgb(45, 45, 45);
 }

 .adj {
   margin: 2px 0 0 0;
 }

 .bi-x-square,
 .bi-x-square-fill,
 .bi-x {
   color: white;
 }

 i {
   color: white;
 }
 .bi-info-circle-fill,.response{
   color:white;
 }
 body {
  background-color: rgb(30, 30, 30);
 }
 .modal-header, .modal-body {
  background-color: rgb(60, 60, 60);
 color:white;
 }
.courrier{
  background-color:white;
  color: rgb(45, 45, 45);
  }

 .modal-content{
  color: rgb(45, 45, 45);
 }
 i.bi-images,
 h5.modal-content {
   color: white;
 }
 .modal-title {
   font-family: 'Rock Salt', cursive;
 }
 .modal-footer {
  background-color:white;
}
.carousel-item{
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  opacity: 1;
  transform: scale(1,1);
	animation: mov 8s ease;
}
@keyframes mov {
	0% {transform: scale(1,1);}
	100% {transform: scale(1.03,1.03);}	
}
.carousel-indicators{
  z-index: 1040;
  bottom: 1.4rem;
  height: 0rem;
}
.carousel-indicators button.indic{
width: .4rem;
  height: .4rem;
  border-radius: 50%;
  color: white;
  filter: drop-shadow(1px 1px 1px black);
}
.carousel-control-prev:hover, .carousel-control-next:hover{
background-color: transparent;
}
//MAN  color:rgb(36,45,57);
header {
  background-color: transparent;
}

footer {
  background-color: transparent;
  color: white;
  filter: drop-shadow(1px 1px 1px black);
}