    <!-- CGV MODAL -->
    <div class="modal fade" id="CGV" tabindex="-1" aria-labelledby="exampleCGVLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-fullscreen-lg-down modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header courrier  ml-auto">
                    <h5 class="modal-title h5 ms-2" id="exampleCGV">CGV</h5>
                    <a href="#" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x courrier fs-2 ms-auto text-dark"></i></a>
                </div>
                <!-- CGV END MODAL HEAD -->
                <!-- CGV MODAL BODY -->
                <div class="modal-body pt-4 courrier rounded-bottom">
                    <div class="px-2">
                        <p><b>CONDITIONS GÉNÉRALES DE VENTE</b></p>
                        <p>Ce document définit les modalités de vente entre la société NOM_DE_TA_SOCIÉTÉ, qui édite le site
                            www.ericbardi.com, et le client dans le cadre d’un système de vente à distance de produits
                            (documents imprimés : Livres et tirages notamment) à partir d’un support numérique (site
                            internet).</p>
                        <p>Toute commande implique de la part du client une acceptation sans réserve des présentes
                            conditions générales de vente dont le client reconnaît avoir pris connaissance.</p>
                        <p>Toute stipulation contraire ou réserve apportée par le client lors de la commande est réputée non
                            écrite, sauf acceptation expresse par la société NOM_DE_TA_SOCIÉTÉ, propriétaire du site
                            ericbardi.com</p>
                        <p><b>Tarification et livraison :</b></p>
                        <p>Les tarifs sont indiqués en euros, toutes taxes comprises.</p>
                        <p>La participation aux frais d’expédition, d’emballage et de traitement ne sont pas compris dans ce
                            prix et doivent être réglés en plus. Les tarifs des livres sont établis dans le respect de la
                            loi Lang 81-766 du 10 août 1981. L’éditeur peut modifier ces tarifs sans préavis. Pour les
                            produits diffusés par les éditions NOM_DE_TA_SOCIÉTÉ, les prix peuvent être modifiés en
                            respectant le préavis de 15 jours obligatoires.</p>
                        <p>En cas de commande du ou des produits concernés vers un pays autre qu’un pays de l’Union
                            Européenne, le client est l’importateur de ces produits. Des droits de douane ou autres taxes
                            peuvent être exigés par les pays concernés. Ces droits ne relèvent pas des éditions
                            NOM_DE_TA_SOCIÉTÉ et sont à la charge du client.
                            Toutes les commandes sont payables en euro (€). Les produits commandés sont facturés selon les
                            tarifs en vigueur au moment où la commande a été enregistrée, sous réserve de la disponibilité
                            des produits commandés. Les produits restent la propriété des éditions NOM_DE_TA_SOCIÉTÉ jusqu’à
                            ce que la commande ait été réglée.</p>
    
                        <p>Les produits disponibles sont expédiés dans un délai de 4 à 8 jours après réception de votre
                            commande. En cas de délais supplémentaire, les Editions NOM_DE_TA_SOCIÉTÉ, s'engage à prévenir
                            le client de la date prévue de disponibilité. Les commandes sont livrées par La Poste, le cachet
                            faisant foi.</p>
    
                        <p>La facture correspondant à votre commande est toujours jointe au colis.</p>
    
                        <p>Les risques de détérioration liés au transport sont sous la responsabilité de l'acheteur qui
                            doit, en cas de dégâts sur le colis ou de produit manquant, refuser la livraison auprès des
                            services de la Poste. De même, les Éditions NOM_DE_TA_SOCIÉTÉ ne peuvent être tenues pour
                            responsables des délais de livraison dépassés ou de non livraison par perte du colis.</p>
    
                        <p>Ces frais sont susceptibles d'être modifiés en fonction de l'évolution des tarifs Postaux.</p>
    
                        <p>La livraison sera effectuée, pendant les heures ouvrables, à l'adresse de livraison que vous
                            aurez indiquée et validée sur le bon de commande. Tout renvoi de commande dû à une erreur de
                            saisie de l'adresse lors de la commande sera à la charge du client. Lors de la réception de la
                            commande, il appartient au client de vérifier l'état des produits et de ne pas les accepter si
                            elles sont endommagées. Aucune indemnisation ne pourra être réclamée pour un retard de livraison
                            ou pour un tirage détérioré.</p>
                        <p><b>Paiement et sécurisation :</b></p>
                        <p>Le règlement de vos achats s'effectue de préférence :</p>
                        <p>- par cartes bancaires Carte Bleue, Visa ou MasterCard*</p>
                        <!-- -  avec le système sécurisé de Paypal* -->
                        <p>- et si impossibilité ou nécessité impérieuse, par chèque (uniquement émis par une banque
                            domiciliée en France métropolitaine) envoyé à l'adresse suivante, accompagné du titre de
                            l’ouvrage. NOM_DE_TA_SOCIÉTÉ - ADRESSE - France.</p>
                        <p>Les produits ne seront livrés qu'après confirmation du parfait encaissement du chèque.</p>
    
                        <p>*Vos données bancaires ne sont pas communiquées à ericbardi.com</p>
                        <p><b>Responsabilité :</b></p>
                        <p>Les éditions NOM_DE_TA_SOCIÉTÉ ne peuvent être tenues pour responsables de l’inexécution du
                            contrat de vente en cas de rupture de stock, d’indisponibilité du produit, de force majeure, de
                            perturbation ou grève, totale ou partielle, notamment des services postaux ou du transporteur.
                            Les parties conviennent que les présentes conditions de vente sont soumises au droit français.
                        </p>
                        <p><b>Retour des produits :</b></p>
                        <p>Si un article ne vous convient pas, vous disposez d'un délai de 7 jours après réception pour le
                            renvoyer à l’adresse suivante : NOM_DE_TA_SOCIÉTÉ - ADRESSE - France.</p>
                        <p>Vous pouvez demander son échange ou son remboursement. Le produit devra être retourné en parfait
                            état, non descellé et avec la facture correspondante. Les frais liés au retour du produit sont à
                            votre charge. Les produits retournés dans de bonnes conditions feront l'objet d'un remboursement
                            de la part des Éditions NOM_DE_TA_SOCIÉTÉ dans un délai d'un mois. Vous pouvez aussi opter pour
                            un avoir sur vos prochains achats plutôt qu'un remboursement.</p>
                        <p><b>Informatique et libertés :</b></p>
                        <p>Les Editions NOM_DE_TA_SOCIÉTÉ sont enregistrées à la CNIL sous le numéro TON_N°_ICI. Les
                            informations privées que vous nous fournissez, via votre bon de commande, n'ont pas
                            d'utilisation au-delà du strict cadre de notre fichier client. Vous pouvez vous opposer à
                            figurer dans ce fichier en nous faisant parvenir un courrier à : NOM_DE_TA_SOCIÉTÉ - ADRESSE ou
                            un courriel à : contact@ericbardi.com</p>
                        <p><b>Force majeure :</b></p>
                        <p>En application de l'article 1148 du Code Civil, NOM_DE_TA_SOCIÉTÉ ne pourra être tenu comme
                            responsable dans l'exécution de la commande, si tout retard ou tout manquement résulte d'un cas
                            de force majeure.</p>
                                
                            <p><b>Questions.</b> N'hésitez pas à nous <a href="#" class="text-dark" data-bs-toggle="modal" data-bs-target="#form">contacter</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CGV END MODAL -->
