<!-- DIAPORAMA -->
<div id="diapo" class="carousel slide carousel-fade py-0 my-0" data-bs-ride="carousel" data-bs-pause="false">
    <div id="indicators" class="carousel-indicators z-index-1040">
        <!-- boutons indicators -->
    </div>
    <div id="addslide" class="carousel-inner vh-100">
        <!-- les images -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#diapo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#diapo" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- END DIAPORAMA -->
