    <!-- BIO MODAL -->
    <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleInfosLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-fullscreen-lg-down modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header courrier ml-auto">
                    <h5 class="modal-title h5 ms-2" id="exampleInfos">18 editions</h5>
                    <a href="#" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x courrier fs-2 ms-auto text-dark"></i></a>
                </div>
                <!-- BIO END MODAL HEAD -->
                <!-- BIO MODAL BODY -->
                <div class="modal-body pt-4 courrier rounded-bottom">
                    <div class="px-2">
                        <img src="https://source.unsplash.com/random/?old man" class="img-fluid mb-3" alt="livre">
                        <p><b>À propos.</b> Nous retrouvons dans la photographie le temps de la réflexion qui nous
                            manquait. Ce qui constitue une image, sa composition, ses qualités techniques et son
                            instantanéité, autant que son universalité à l'heure du smartphone et du &laquo;Tout le monde
                            est photographe&raquo;… Nous partageons aussi bien entendu la passion du cinéma et de son esthétique
                            complexifiée par l'écriture et le scénario. Si l'époque surjoue la fétichisation des images et
                            l'égocentrisme, elle illustre le paradigme du tout visuel comme un langage, comme un humanisme.
                            <i class="cite">L'oeuvre d'art à l'heure de sa reproductibilité technique</i> de Walter
                            Benjamin, Le &laquo;punctum&raquo; de <i class="cite">La chambre claire</i> de Roland Barthes,
                            l'analyse filmique d'Alain Bergala, les études de l'espace sonore intra et extra diégétique chez
                            Michel Chion, <i class="cite">la technologie dans l'art</i> chez Edmond Couchot, <i
                                class="cite">L'image temps, l'image mouvement</i> chez Gilles Deleuze…
                        </p>
    
                        <figure>
                            <blockquote class="blockquote">
                                <p>&laquo;Une chose au moins est sûre: aucune sémiologie du son, de la couleur, de l'image
                                    ne se formulera en sons, en couleurs, en images. Toute sémiologie d'un système
                                    non-linguistique doit emprunter le truchement de la langue, ne peut donc exister que par
                                    et dans la sémiologie de la langue.&raquo;</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Émile Benvéniste. <cite title="Source Title">Probl. de la ling. gén., II, Sémiologie de la
                                    lang., 1974 [1969], p. 60</cite>
                            </figcaption>
                        </figure>
                        <figure>
                            <blockquote class="blockquote">
                                <p>&laquo;Il faut rappeler la condition fondamentale de toute sémiologie picturale:
                                    l'indissociabilité du visible et du nommable comme source du sens.&raquo;</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                <cite title="Source Title">Encyclop. univ.t. 141972, p. 863</cite>
                            </figcaption>
                        </figure>
    
                        <p><b>En résumé :</b> Photographier pour mieux &laquo;parler&raquo; l'image.</p>
                        <p><b>Questions.</b> N'hésitez pas à nous <a href="#" class="text-dark" data-bs-toggle="modal" data-bs-target="#form">contacter</a>.</p>

                    </div>
                </div>
            </div>
            <!--    BIO END MODAL BODY        -->
        </div>
    </div>
    <!-- BIO END MODAL -->
