<!-- FOOTER -->
<footer class="fixed-bottom d-flex py-3 my-0 justify-content-between align-items-center">
    <div class="col-md-4 ms-4">
        <a href="#" class="mentions" title="mentions l&eacute;gales" data-bs-toggle="modal"
            data-bs-target="#mentions"><span class="mt-3">&copy;</span><span>ML</span></a>
            <span> - </span>
        <a href="#" class="CGV" title="Conditions g&eacute;n&eacute;rales de vente" data-bs-toggle="modal"
            data-bs-target="#CGV"><span>CGV</span></a>
    </div>

    <ul class="nav justify-content-end nava me-4">
        <li class="ms-2"><a href="#"><i class="bi bi-twitter"></i></a></li>
        <li class="ms-2"><a href="#"><i class="bi bi-instagram"></i></a></li>
        <li class="ms-2"><a href="#"><i class="bi bi-facebook"></i></a></li>
    </ul>
</footer>
<!-- END FOOTER -->

<!-- JAVASCRIPT -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="./js/scripts.js"></script>
<!-- END JAVASCRIPT -->

</body>
<!-- END BODY -->
</html>
