    <!-- FORM MODAL -->
    <div class="modal fade" id="form" tabindex="-1" aria-labelledby="exampleFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header courrier  ml-auto">
                    <h5 class="modal-title h5 ms-2" id="exampleForm">Contact</h5>
                    <a href="#" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x courrier fs-2 ms-auto text-dark"></i></a>
                </div>
                <!-- FORM END MODAL HEAD -->
                <!-- FORM MODAL BODY -->
                <div class="modal-body pt-4 courrier">
                    <div class="px-2">
    
                        <form class="row needs-validation" name="contact-form" id="contact"
                            action="https://formsubmit.co/83d791f8aeeb687318f7f62feaf96ab3" method="POST" novalidate>
    
                            <div class="col-12 mb-3">
                                <label class="form-label" for="last_name">Nom</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-pencil"></i></span>
                                    <input class="form-control" id="last_name" type="text" placeholder="Votre nom"
                                        pattern="[A-Za-z\- ]+" title="Nom valide requis." name="surname" required>
                                    <div class="invalid-feedback">
                                        Il manque votre nom.
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-12 mb-3">
                                <label class="form-label" for="message">Email</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                    <input class="form-control" id="email" type="email" placeholder="Email"
                                        aria-describedby="inputGroupPrepend" name="email" required>
                                    <div class="invalid-feedback">
                                        Il manque votre adresse @email.
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-12 mb-3">
                                <label class="form-label" for="phone">T&eacute;l&eacute;phone (facultatif)</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-telephone"></i></span>
                                    <input class="form-control" id="phone" type="tel"
                                        placeholder="N° de t&eacute;l&eacute;phone" name="phone" />
                                </div>
                            </div>
    
                            <div class="col-12 mb-3">
                                <label class="form-label" for="message">Message</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="message"><i class="bi bi-card-text"></i></span>
                                    <textarea class="form-control" id="message" placeholder="Votre message" form="contact"
                                        name="message" required></textarea>
                                    <div class="invalid-feedback">
                                        Veuillez taper votre message.
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-12 my-2">
                                <button type="submit" class="btn btn-dark w-100">
                                    <i class="bi bi-send text-white"></i>
                                    &nbsp;Envoyer
                                </button>
                            </div>
                            <input type="text" name="_honey" style="display:none">
                            <input type="hidden" name="_captcha" value="false">
                            <input type="hidden" name="_next" value="https://site18editions.herokuapp.com">
                            <div class="col-12 response" id="response"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FORM END MODAL -->
