<!DOCTYPE html>
<html lang="fr">

<!--
Version 1.0.0 [Code source : domaine public] && [Code : public domain]
18 éditions | social@ericbardi.com
All right reserved - Tous droits réservés (cf. photos ? book extract ? name ?) && CC BY SA ND (cf. ©LN & CGV).
-->

<!-- HEAD -->
<head>
<title>18 éditions</title>
<!-- Required meta tags -->
<meta name="title" content="18 éditions">
<meta name="description" content="18 éditions, édite et publie des ouvrages d'art et livres sur la photographie. Auto-éditions à compte d'auteur, Co-éditions et éditions. Retrouvez nos derniers ouvrages et tirages d'art disponibles à la vente sur la boutique en ligne.">
<meta name="keywords" content="photo, photographie, photographe, art, livres, livre, éditions, édition, co-éditions, auto-éditions, à compte d'auteur, tirages d'art, vente, achat, concarneau, quimper, brest, rennes, vannes, lorient, bretagne, finistère">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="French">
<meta name="author" content="Eric Bardi">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
<link rel="manifest" href="./assets/favicon/site.webmanifest">
<link rel="mask-icon" href="./assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="./assets/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-config" content="./assets/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<!-- Bootstrap CSS -->
<link href="./css/main.min.css" rel="stylesheet">
</head>
<!-- END HEAD -->

<!-- BODY -->
<body>
