<!-- LOADER -->
<div class="d-flex justify-content-center">
    <div id="chargement" class="spinner-grow text-light position-absolute top-50 start-50" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<!-- END LOADER -->
