    <!-- LN MODAL -->
    <div class="modal fade" id="mentions" tabindex="-1" aria-labelledby="exampleMentionsLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-fullscreen-lg-down modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header courrier  ml-auto">
                    <h5 class="modal-title h5 ms-2" id="exampleMentions">Mentions légales</h5>
                    <a href="#" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x courrier fs-2 ms-auto text-dark"></i></a>
                </div>
                <!-- LN END MODAL HEAD -->
                <!-- LN MODAL BODY -->
                <div class="modal-body pt-4 courrier rounded-bottom">
                    <div class="px-2">
                        <p><b>MENTIONS LEGALES / LEGAL NOTICES</b></p>
    
                        <p><b>Editeur.</b> Ce site est la propriété de Eric Bardi, auteur et responsable de la
                            publication de ce site.</p>
    
                        <p><b>Hébergement.</b> Ce site est hébergé par OVH - France
                            Siège social : 2 rue Kellermann - 59100 Roubaix - France</p>
                        <p>Site: https://www.ovhcloud.com/fr/</p>
    
                        <p><b>Contenu.</b> Toutes les photographies, textes, commentaires, illustrations, images animées
                            ou non, séquences vidéo, sons, ainsi que toutes les applications informatiques qui
                            pourraient être utilisées pour faire fonctionner ce site, plus généralement tous les
                            éléments reproduits ou utilisés sur le site sont protégés par les lois en vigueur au titre
                            de la propriété intellectuelle.Ils sont la propriété pleine et entière de l’Éditeur ou de
                            ses partenaires. Toute reproduction, représentation, utilisation ou adaptation, sous quelque
                            forme que ce soit, de tout ou partie de ces éléments, y compris les applications
                            informatiques, sans l’accord préalable et écrit de l’éditeur, sont strictement interdites.
                            Le fait pour l’Éditeur de ne pas engager de procédure dès la prise de connaissance de ces
                            utilisations non autorisées ne vaut pas acceptation des dites utilisations et renonciations
                            aux poursuites.</p>
    
                        <p><b>Responsabilité.</b> La responsabilité de l’Éditeur ne peut être engagée en cas de
                            défaillance, panne, difficulté ou interruption de fonctionnement, empêchant l’accès au Site
                            ou à ses fonctionnalités. Le matériel de connexion au Site que vous utilisez est sous votre
                            entière responsabilité. Vous devez prendre toutes les mesures appropriées pour protéger
                            votre matériel et vos propres données notamment d’attaques virales par internet. Vous êtes,
                            par ailleurs, seul responsable des sites et données que vous consultez.
                            L’Éditeur ne pourra être tenu pour responsable en cas de poursuites judiciaires à votre
                            encontre :
                            – Du fait de l’usage du Site ou de tout service accessible via internet,
                            – Du fait du non-respect par vous des présentes conditions générales.
                            L’Éditeur n’est pas responsable des dommages causés à vous-mêmes à des tiers et/ou à votre
                            équipement du fait de votre connexion, de votre utilisation du Site et vous renoncez à toute
                            action contre lui de ce fait.
                            Si l’Éditeur venait à faire l’objet d’une procédure amiable ou judiciaire à raison de votre
                            utilisation du Site. Il pourra se retourner contre vous pour obtenir indemnisation de tous
                            les préjudices, sommes, condamnations et frais qui pourraient découler de cette procédure.
                        </p>
    
                        <p><b>Gestion du Site.</b> Pour la bonne gestion du Site, l’Éditeur pourra, à tout moment :
                            – Suspendre, interrompre ou limiter l’accès à tout ou partie du Site, réserver l’accès au
                            Site, ou à certaines parties du Site, à une catégorie déterminée d’utilisateurs,
                            – Supprimer toute information pouvant perturber le fonctionnement ou entrant en
                            contravention avec les lois nationales ou internationales.
                            – Suspendre le Site afin de procéder à des mises à jour.</p>
    
                        <p><b>Liens hypertextes.</b> Tout lien devra être retiré sur demande de l’Éditeur. Toute
                            information accessible via un lien vers d’autres sites n’est pas sous le contrôle de
                            l’Éditeur qui décline toute responsabilité quant à leur contenu.</p>
    
                        <p><b>Informations personnelles & vie privée.</b> Le site ne collecte aucune information
                            personnelle à votre insu.</p>
    
                        <p><b>Cookies.</b> Le Site peut collecter automatiquement des informations standards. Toutes les
                            informations collectées indirectement ne seront utilisées que pour suivre le volume, le type
                            et la configuration du trafic, pour en développer la conception et l’agencement et à
                            d’autres fins administratives et de planification et plus généralement pour améliorer le
                            service que nous vous offrons par le biais du Site.</p>
    
                        <p><b>Loi applicable.</b> Les présentes conditions d’utilisation du Site sont régies par la loi
                            Française, en application des différentes directives de l'Union Européenne concernant le
                            droit d'auteur et sont soumises à la compétence des tribunaux Français, sous réserve d’une
                            attribution de compétence spécifique découlant d’un texte législatif ou réglementaire
                            particulier.</p>
    
                        <p><b>Condition d’utilisation du site.</b> Tout visiteur estimant que le site porte atteinte à
                            ses droits à la personnalité (diffamation, droits d’auteur…) s’engage à en informer le
                            titulaire du site préalablement à toute procédure judiciaire afin de permettre une cessation
                            spontanée de l’atteinte si celle-ci est avérée. Parallèlement, le Responsable de la
                            Publication s’engage à retirer toute représentation d’une œuvre ou d’une marque qui
                            contreviendrait à des droits protégés au titre de la propriété intellectuelle. Tout visiteur
                            situé à l’étranger s’engage à quitter le site si tout ou partie de son contenu contrevient à
                            la législation de son État, le titulaire du site déclinant toute responsabilité en pareille
                            situation.</p>
    
                        <p><b>Protection du droit d’auteur.</b> Tous les droits de reproduction sont réservés y compris
                            pour les textes, les éventuels documents téléchargeables et les représentations
                            iconographiques, photographiques et multimédia. La reproduction de tout ou partie de ce site
                            sur un support quel qu’il soit est formellement interdite sauf autorisation expresse du
                            Responsable de la Publication.</p>
    
                        <p><b>Crédit Images.</b> ©ericbardi</p>
                        <p><b>Webdesign.</b> cf. code source.</p>
                        <p><b>Questions.</b> N'hésitez pas à nous <a href="#" class="text-dark" data-bs-toggle="modal" data-bs-target="#form">contacter</a>.</p>
                    </div>
    
                </div>
            </div>
            <!--    LN END MODAL BODY        -->
        </div>
    </div>
    <!-- LN END MODAL -->
