    <!--   HEADER     -->
    <header class="fixed-top d-flex flex-wrap justify-content-between align-items-center mt-n1 px-2 pt-2 full">
        <a href="/" class="nav-link menuL brand ms-0 fs-4 text-white" title="Accueil">18 editions</a>
        <!-- <i class="bi bi-camera fs-2"></i> -->
        <ul class="nav me-2">
            <!--       <li class="nav-item m-0 p-0"><a href="#" class="nav-link m-0 p-0" data-bs-toggle="modal"
            data-bs-target="#infos" title="infos"><i class="bi bi-menu fs-2"></i></a></li> -->
            <li class="nav-item ms-0 p-0 fs-5">
                <a href="#" class="nav-link m-0 p-0 d-md-none menuL nava" data-bs-toggle="modal"
                data-bs-target="#shop" title="boutique">
                    <i class="bi bi-bag-fill"></i>
                </a>
            </li>         
            <li class="nav-item ms-3 p-0 fs-5 adj">
                <a href="#" class="nav-link m-0 p-0 d-md-none menuL nava"  data-bs-toggle="modal"
                data-bs-target="#edit" title="editions">
                    <i class="bi bi-info-circle-fill"></i>
                </a>
            </li>
            <li class="nav-item ms-4 p-0 d-none d-md-block fs-6 menuL nava" data-bs-toggle="modal"
            data-bs-target="#shop">
                <a href="#" class="nav-link m-0 p-0 text-white">
                    boutique
                </a>
            </li>
            <li class="nav-item ms-4 p-0 d-none d-md-block fs-6 menuL nava" data-bs-toggle="modal"
            data-bs-target="#edit">
                <a href="#" class="nav-link m-0 p-0 text-white">
                    editions
                </a>
            </li>
            <li class="nav-item ms-4 p-0 d-none d-md-block fs-6 menuL nava" data-bs-toggle="modal"
            data-bs-target="#form">
                <a href="#" class="nav-link m-0 p-0 text-white">
                    contact
                </a>
            </li>
            <li class="nav-item ms-4 pe-2 d-none d-md-block fs-6 menuL nava">
                <a href="#" class="nav-link m-0 p-0 text-white" onclick="toggle_full_screen();">
                    <i class="bi bi-fullscreen"></i>
                </a>
            </li>        
        </ul>
    
    </header>
    <!-- END HEADER -->
