<!-- EDIT MODAL -->
<div class="modal fade" id="shop" tabindex="-1" aria-labelledby="exampleEditLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-lg-down modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header courrier  ml-auto">
                <h5 class="modal-title h5 ms-2" id="exampleEdit">boutique</h5>
                <a href="#" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x courrier fs-2 ms-auto text-dark"></i></a>
            </div>
            <!-- EDIT END MODAL HEAD -->
            <!-- EDIT MODAL BODY -->
            <div class="modal-body pt-4 courrier rounded-bottom">
                <div class="px-2">

                    <p><b>Éditions.</b> Conception de livres et magazines de photographie. Nombre d'exemplaires limités.
                        Me contacter pour passer commande (Commande en ligne bientôt disponible).</p>
                    <p><b>Tirages.</b> Tirages d'art sur papier premium numérotés et signés. Certificat d'authenticité
                        fourni. À la demande, tarifs selon format + encadrement.
                    </p>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <img src="assets/thumb/photo-1509805225007-73e8ba4b5be8.jpg" class="card-img-top"
                                    alt="livre">
                                <div class="card-body">
                                    <p class="card-title"><b>Livre photo - 49,95 €uros.</b></p>
                                    <p class="cite">Un recueil annuel de photographies originales, accompagné de textes
                                        et de légendes pour les personnes riches, cultivées et influentes.</p>
                                    <button class="btn btn-dark"><i class="bi bi-cart3 me-1"></i>Commander</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <img src="assets/thumb/photo-1509805225007-73e8ba4b5be8_2.jpg" class="card-img-top"
                                    alt="Tirage d'art">
                                <div class="card-body">
                                    <p class="card-title"><b>Tirages d'art - sur demande.</b></p>
                                    <p class="cite">Tirages d'art sur papier photo premium, caisse américaine. Numérotés
                                        et signés. Certification / Garantie d'authenticité fournie.</p>
                                    <button class="btn btn-dark"><i class="bi bi-cart3 me-1"></i>Bientôt</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p><b>Questions.</b> N'hésitez pas à nous <a href="#" class="text-dark" data-bs-toggle="modal" data-bs-target="#form">contacter</a>.</p>
                </div>

            </div>
        </div>
        <!--    EDIT END MODAL BODY        -->
    </div>
</div>
<!-- EDIT END MODAL -->
