<%- include('_header'); -%>
<%- include('_loader'); -%>
<%- include('_nav'); -%>
<%- include('_diapo'); -%>
<%- include('_form'); -%>
<%- include('_ml'); -%>
<%- include('_cgv'); -%>
<%- include('_shop'); -%>
<%- include('_edit'); -%>    
<%- include ('_footer'); -%>